.chatInputContainer{
  display:flex; 
  margin-bottom:40px;

}
.sendButton{
  background-color:rgb(25, 135, 84);
  color: white;
  padding:12px 20px;
  border:None;
  font-size:15px;
  border-radius:10px;
  margin-left:10px;
  cursor:pointer;

}
.chatInput{
  font-size:15px;
  padding:12px 15px;
  border-width:1px;
  
  border-radius:10px;
  /* padding:10px 20px; */
  flex-grow:1;
}

.image{
  margin:-15px;
}