
.appContainer{
  /* padding-top:20px;
  padding-bottom:40px; */
  max-width:600px;
  margin-left:auto;
  margin-right:auto;
  display:flex;
  flex-direction:column;
  height:100vh;
}
.chatInputContainer{
  display:flex; 
  margin-bottom:40px;

}
.sendButton{
  background-color:rgb(25, 135, 84);
  color: white;
  padding:12px 20px;
  border:None;
  font-size:15px;
  border-radius:10px;
  margin-left:10px;
  cursor:pointer;

}
.chatInput{
  font-size:15px;
  padding:12px 15px;
  border-width:1px;
  
  border-radius:10px;
  /* padding:10px 20px; */
  flex-grow:1;
}
.userMessageDiv{
  display:flex;
  justify-content:end;
  align-items:start
}
.messageDiv{
  background-color:hsla(0, 0%, 75%, 0.975);
  border-radius:10px;
  margin-right:10px;
  padding:15px 20px;
  margin-left:10px;
  margin-bottom:20px;
  max-width:300px;
  
}
.robotMessageDiv{
  display:flex;
  justify-content:start;
  align-items:start
}
.chatMessagesContainer{
  margin-top:20px;
  flex-grow:1;
  overflow:scroll;
  scrollbar-width:none
}
.welcome-text{
  text-align:center;
  /* font-size:12px; */
  color:gray
}
.image{
  margin:-15px;
}